:host{
    display:block;
    background: radial-gradient( rgba(0, 90, 128, 0.256) 0%, white 70%);
    font-family: sans-serif;
    overflow: hidden;
}


header{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

header h1{
    letter-spacing: 0.3rem;
}

header p{
    font-size: 1.7rem;
}


.carousel{
    margin-left: 1%;
    margin-right: 1%;
    height:40vw;   
    position: relative;
    overflow: hidden;
}

.carousel .card{
    width: 25%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    background-color: var(--green);
    position: absolute;
    transition: all 1s;
    border: solid;
    border-color: var(--green);
    filter:brightness(80%);
}

.carousel .card img{
    width: 100%;
    height: 50%;
    object-fit: cover;

}
.carousel .card a{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.8vw;
    padding: 1vw;
    
}
.carousel .card a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .carousel .card a{
        font-size: 2vw;
      }
  }

@media screen and (max-width: 800px) {
    .carousel .card a{
        font-size: 3vw;
      }
      .carousel{
        height:60vw;   
    }
  }


