:host{
    overflow: hidden;
}
.message{
    position: relative;
    margin-top: 100px;
    height: 30rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.message::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url("/assets/message.jpg");
    background-position: center;
    filter: brightness(20%);
    z-index: -1;
}

.message h1{
    font-size: 4rem;
    color: white;
    margin-bottom: 0px;
}
.message p{
    margin-top: 0px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 1.7rem;
    line-height: 5rem;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .message{
        margin-top: 50px;
        height: 40rem;
    }
    
    .message h1{
        font-size: 3.5rem;

    }
    .message p{
        font-size: 1.5rem;
        line-height: 4rem;
    }
  }

@media screen and (max-width: 800px) {

  }

@media screen and (max-width: 600px) {

  }

@media screen and (max-width: 500px) {

  }