<section class="service">

    <img src="assets/service.jpg" data-aos="fade-right"  alt="">

    <section data-aos="fade-left">
        <h1> Full Solution To Safeguard Your Operations And Keep Your Business Running Smoothly </h1>

        <section class="service-u">
            <i class="fa-solid fa-boxes-packing"></i>
            <div>
                <h3>Supply and Installaion</h3>
                <p>We offer a wide range of products and it's Installaion by our expert engineers and technicians.</p>
            </div>
        </section>

        <section class="service-u"> 
            <i class="fa-solid fa-gear"></i>
            <div>
                <h3>Service and Maintenance </h3>
                <p>Don't worry about any issues, we will help with our maintenance services and plans. </p>
            </div>

        </section>

        <section class="service-u">
            <i class="fa-solid fa-headset"></i>
            <div>
                <h3>Peace of Mind With 24/7 Support</h3>
                <p>round-the-clock technical support that address any issues promptly, as we stand by our commitment to customer satisfaction.</p>
            </div>

        </section>

    </section>


</section>
