<section class="product">
    
    <img [src]="'assets/products_images/' + product.image" alt="">

    <article>
        <p>{{product.description}}</p>
        <span>{{product.part_number}}</span>
        <button routerLink="/contacts" >Order Now</button>
    </article>

    <table>

        <thead>
            <tr>
                <th colspan="2">Specifications</th>
            </tr>
        </thead>

        <tbody *ngFor = "let specs of product.specifications">
            <tr>
                <th colspan="2">{{specs.title}}</th>
            </tr>
            <tr *ngFor = "let spec of specs.specs; index as i">
                <td>{{spec.name}}</td>
                <td>{{spec.value}}</td>
            </tr>
        </tbody>

    </table>


</section>