
*{
    --blue : #0079FF;
    --green: #00DFA2;
    --yellow: #F6FA70;
    --red: #FF0060;
}

:root{
    font-size: 15px;
}
html,body{
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 800px) {
    :root{
        font-size: 12px;
      }
  }

  @media screen and (max-width: 600px) {
    :root{
        font-size: 8px;
      }
  }

  @media screen and (max-width: 500px) {
    :root{
        font-size: 6px;
      }
  }
  