
*{
    --blue : #0079FF;
    --green: #00DFA2;
    --yellow: #F6FA70;
    --red: #FF0060;
}

:root{
    font-size: 1vw;
}
html,body{
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 1000px) {
    :root{
        font-size: 1.5vw;
      }
  }

@media screen and (max-width: 800px) {
    :root{
        font-size: 2vw;
      }
  }

  @media screen and (max-width: 600px) {
    :root{
        font-size: 2.2vw;
      }
  }

  @media screen and (max-width: 500px) {
    :root{
        font-size: 2.3vw;
      }
  }
  