:host{
    margin-bottom: 50px;
}

h1{
    padding-left: 5%;
    color:var(--blue);
}

:host>section{
    display: flex;
    justify-content: center;
}

aside{
    width: 30%;
    padding-left: 2%;
    box-sizing: border-box;

}

aside h3{
    font-size: 1.5rem;
    margin-top: 20px;
}

aside h3 i{
    float: right;
    margin-right: 20px;
    display: none;
}

aside ul{
    list-style-type: none;
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 0;
}

aside ul li{
    padding: 2%;
    cursor: pointer;
}

aside ul li:hover{
    color: var(--red);
}

aside ul li i{
    float: right;
    display: none;;
}





.products{
    width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product{
    width: 28%;
    text-align: center;
    margin-top: 50px;
}

.product>*{
    width: 100%;
}

.product a{
    text-decoration-line: none;
    color: black;
    font-size: 1.3rem;
}

.product a:hover{
    color: var(--blue);
    text-decoration: underline;
}






.products .pagination{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.products .pagination button{
    margin-left: 30px;
    margin-right: 30px;
    width: 80px;
    height: 50px;
    font-size: 30px;
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
}


.products .filters{
    width: 100%;
}
.products .filters span{
    margin: 10px;
    cursor: pointer;
}
.products .filters span:hover{color: var(--red);}


@media screen and (max-width: 992px) {

  }

@media screen and (max-width: 768px) {
    :host>section{
        display: block;
    }
    aside{
        width: 100%;
    }
    .products {
        width: 100%;
    }

    .product{
        width: 45%;
    }

    aside h3{
        cursor: pointer;
    }

    aside h3 i{
        display: inline;
    }
    .list-hide{
        display: none;
    }

  }

  @media screen and (max-width: 600px) {

  }

  @media screen and (max-width: 500px) {
 
  }
  