<h1>
    Explore Our Solutions
</h1>

<section>


    <aside>

        <div *ngFor = "let filter of filters; index as i">
            <h3 (click)=" filter.class= filter.class===''? 'list-hide':'' ">
                {{filter.name}} <i class="fa-solid fa-bars"></i>
            </h3>
            <ul [class]="filter.class">
                <li *ngFor = "let value of filter.values; index as y" (click)="addFilter(i,y)">
                     <span>{{value[0]}}</span> <i class="fa-solid fa-check"></i> 
                </li>
            </ul>
        </div>
    
    </aside>
    
    
    <section class="products">

        <div class="filters">
            <span *ngFor = "let filter of getFiltersChoosed();" (click)="filter.valueChoosed=null;getProducts();">
                {{filter.name + ' : ' + filter.values[filter.valueChoosed][0]}}  <i class="fa-solid fa-circle-xmark"></i>
            </span>
        </div>
        
        <div class="product" *ngFor = "let product of products; index as i">
            <img [src]="'assets/products_images/' + product.image" alt="">
            <a routerLink="/product" [queryParams]="{id:product.id}" >{{product.short_description}}</a>
        </div>

        <div class="pagination">
            <button><i class="fa-solid fa-chevron-left"></i></button>
            <button><i class="fa-solid fa-chevron-right"></i></button>
        </div>

    </section>

    
</section>

