<section class="featured-products" data-aos="zoom-in">
    <h1>
        Featured Products
    </h1>

    <section>

        <div class="product" *ngFor = "let product of products; index as i">
            <img [src]="'assets/products_images/' + product.image" alt="">
            <div>
                <span>{{product.description}}</span>
                <button [routerLink]="'/' + product.reference | urlRoute" [queryParams]="product.reference | urlParams">
                    Explore
                </button>
            </div>
        </div>

    </section>

</section>