<nav class="upperNav">

    <div>
        <i class="fa-solid fa-phone"></i><span> +20 123456789</span>
        <i class="fa-solid fa-envelope"></i><a>info@res-eg.com</a>
    </div>

    <div>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>


</nav>

<nav class="lowerNav">

    <img src="assets/res-logo.png" alt="">

    <ul>
        <a  routerLink="/home" routerLinkActive="activeLink">Home</a>
        <a  routerLink="/solution" routerLinkActive="activeLink">Solutions</a>
        <a  routerLink="/contact" routerLinkActive="activeLink">Contact Us</a>
    </ul>

</nav>