.upperNav{
    z-index: 100;
    background-color: var(--green);
    font-size: 1.2rem;
    padding-top:8px;
    padding-bottom: 8px;
    color:white;

}

.upperNav div{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

.upperNav div:first-child{
    width: 70%;
    text-align:start;
    padding-left: 1vw;
}

.upperNav div:last-child{
    width: 30%;
}

.upperNav div:first-child i{
    margin-left: 2rem;
    margin-right: 1.5rem;
}
.upperNav div:last-child i{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.upperNav div:last-child i:hover{
    color: var(--yellow);
}




.lowerNav{
    position:sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    background-color: white;
    height: 6rem;
    display: flex;
    align-items: center;
    z-index: 100;
}

.lowerNav ul{
    width: 100%;
    text-align: center;
    padding: 0; 
    display: flex;
    justify-content: center;
}


.lowerNav img{
    height:100%;
    margin-left: 2.6rem;
    cursor: pointer;
    
}

.lowerNav a{
    text-decoration: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    color: black; 
}

.lowerNav a.active{
    color: var(--red);
}

.lowerNav a:hover{
    color: var(--red);
}

@media screen and (min-width: 992px) {
    .upperNav{
    
        font-size: 1.3rem;
    
    }
}