<nav class="upperNav">

    <div>
        <i class="fa-solid fa-phone"></i><span> +20 123456789</span>
        <i class="fa-solid fa-envelope"></i><a>info@res-eg.com</a>
    </div>

    <div>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>


</nav>

<nav class="lowerNav">

    <img src="../../assets/res-logo.png" alt="">

    <ul>
        <a class="active" href="">Home</a>
        <a href="">Solutions</a>
        <a href="">Contact Us</a>
    </ul>

</nav>