<nav class="upperNav">

    <div>
        <i class="fa-solid fa-phone"></i><span> +20 1122999298</span>
        <i class="fa-solid fa-envelope"></i><a href="mailto:info@res-eg.com">info@res-eg.com</a>
    </div>

    <div>
        <a href="/" ><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.facebook.com/power.res.eg" target=”_blank”><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.youtube.com/@res-eg" target=”_blank”><i class="fa-brands fa-youtube"></i></a>
    </div>


</nav>

<nav class="lowerNav">

    <img routerLink="/"  src="assets/res-logo.png" alt="">

    <ul>
        <a  routerLink="/home" routerLinkActive="activeLink">Home</a>
        <a  routerLink="/solutions" routerLinkActive="activeLink">Solutions</a>
        <a  routerLink="/contacts" routerLinkActive="activeLink">Contact Us</a>
    </ul>

</nav>
