.prefooter{
    background-color: var(--blue);
    font-family: sans-serif;
    height: 300px;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prefooter section{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 7rem;
    font-weight: 900;
}

.prefooter section h1{ 
    letter-spacing: 1rem;
    margin-bottom: 0px;
}
.prefooter section P{ 

}

.prefooter i{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 5rem;
    cursor: pointer;
    color: var(--yellow);
}