.prefooter{
    background-color: var(--blue);
    font-family: sans-serif;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prefooter section{
    width: 75%;
    text-align: start;
    padding-left: 6rem;
    font-weight: 900;
}

.prefooter section h1{ 
    letter-spacing: 1rem;
    margin-bottom: 0px;
}
.prefooter section P{ 

}

.prefooter i{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 5rem;
    cursor: pointer;
    color: var(--yellow);
}