<form class="contact-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <h2>Send us a message</h2>
    <div>
        <label for="name">Name *</label>
        <input type="text" name="name" id="name"  placeholder="Your Name" ngModel required>
    </div>

    <div>
        <label for="email">Email *</label>
        <input type="email" name="email" id="email"  placeholder="Your Email" ngModel required>
    </div>

    <div>
        <label for="phone">Phone </label>
        <input type="tel" name="phone" id="phone"  placeholder="Phone" ngModel required>
    </div>

    <div>
        <label for="company">Company </label>
        <input type="text" name="company" id="company"  placeholder="Company Name" ngModel required>
    </div>

    <div>
        <label for="message">Message *</label>
        <textarea name="message" id="message" cols="30" rows="8"  placeholder="Write your message" ngModel required></textarea>
    </div>

    <div>
        <button type="submit">SEND MESSAGE</button>
    </div>

</form>

<section class="contact-info">
    <h2>Contact Information</h2>
    <p>Get In Touch, <br> <strong>Let's help you!</strong></p>
    <ul>
      <li>
        <i class="fa-solid fa-location-dot"></i>
        <span>Cairo, Egypt</span>
      </li>
      <li>
        <i class="fa-brands fa-whatsapp"></i>
        <a href="https://wa.me/201098442236" target=”_blank”>+20 1098442236</a>
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        <span>+20 1122999298</span>
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        <span>+20 1119482144</span>
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        <span>+20 1128330707</span>
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        <span>+20 1141366133</span>
      </li>
      <li>
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:info@res-eg.com">info@res-eg.com</a>
      </li>
      <li>
        <i class="fa-brands fa-facebook"></i>
        <a href="https://www.facebook.com/power.res.eg" target=”_blank”>facebook.com/power.res.eg</a>
      </li>
    </ul>
</section>
