
<footer>
    
   <div class="contact">
    <span><i class="fa-solid fa-phone"></i> <strong>+20 123456789 / +20 123456789 / +20 123456789 / +20 123456789</strong> </span>
    <span><i class="fa-solid fa-envelope"></i> <strong>Info@res-eg.com</strong> </span>
    <span>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </span>
   </div>

   <div class="res">
    <img src="../../assets/res-logo-transp-white.png" alt="">
    <span>Renewable Energy Systems</span>
   </div>

   <div class="subscribe">
        <h2>Subscribe Now</h2>
        <span>Sign up to receive our latest news & offers.</span>
        <input type="email" placeholder="Enter your email address">
        <button>Subscribe Now</button>
   </div> 

   <div class="Copyright">Copyright © res-eg.com All Rights Reserved.</div>
</footer>
