
<footer>
    
   <div>
    <span><i class="fa-solid fa-phone"></i> +20 123456789 / +20 123456789 / +20 123456789 / +20 123456789</span>
    <span><i class="fa-solid fa-envelope"></i> Info@res-eg.com</span>
    <span>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </span>
   </div>

   <div>
    <img src="../../assets/res-logo-transp.png" alt="">
    <span>Renewable Energy Systems</span>
   </div>

   <div>
        <h2>Subscribe Now</h2>
        <span>Sign up to receive our latest news & offers.</span>
        <input type="text" placeholder="Enter your email address">
        <button>Subscribe Now</button>
   </div> 

   <div>Copyright © res-eg.com All Rights Reserved.</div>
</footer>
